@model object

@{
    ViewData["Title"] = "Main Street Movies - Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Main Street Movies!</h1>
    <p class="lead">Experience the Magic of Cinema on Main Street.</p>
    <p>Discover the latest blockbuster releases, schedule your movie nights, and enjoy a cinematic journey like never before.</p>
    <p>Explore our website to find showtimes, movie details, and exciting special events.</p>
    <a class="btn btn-primary" href="/Movies">Explore Movies</a>
    <a class="btn btn-primary" href="/Schedules">View Schedules</a>
</div>
